/*базовые настройки*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #1b1b1b;
}

/*базовые настройки*/
/*header-img*/
.header-top {
    width: 100%;
    height: 100vh;
}

.header-title {
    color: #fff;
    position: absolute;
    left: 42%;
    top: 370px;
    background: #1b1b1b;
    width: 218px;
    text-align: center;
}

.header-img {
    position: relative;
}

.img-1, .img-2, .img-3, .img-4 {
    position: absolute;
}

.img-1 {
    width: 100%;
    height: 100vh;
}

.img-2 {
    top: 410px;
    right: 80px;
}

.img-3 {
    width: 294px;
    top: 390px;
    left: 38px;
}

.img-4 {
    right: 20px;
    top: -13px;
    width: 215px;
}

/*header-img*/
/*########about-me#######*/
#about-me {
    padding: 50px 0 50px;
}


.container {
    width: 1110px;
    margin: 0 auto;
    background: #dbd1c6;
    border-radius: 10px;
}

.row {
    display: flex;
}

.col-7 {
    margin: 50px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
}


.title {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.description {
    margin-bottom: 100px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.list-item li {
    margin-top: 10px;
}

.list-item li span {
    font-weight: 700;
}

/*########about-me#######*/
/*########skill##########*/

#skill {
    padding: 60px 0 60px;
}

.skills-box {
    width: 1110px;
    margin: auto;
    background: #dbd1c6;
    padding: 50px;
    border-radius: 10px;

}

.title-skill {
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 41px;
    text-transform: uppercase;
    font-weight: 600;
}

.progress:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: darkslategray;
    top: 22px;
}

.progress:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background: darkblue;
    top: 22px;
}

/*########skill##########*/
/*########code##########*/
#code {
    padding: 60px 0 60px;
}

.code-box {
    width: 1110px;
    margin: 0 auto;
    background: #dbd1c6;
    border-radius: 10px;

}

.code-img {
    display: grid;
    text-align: -webkit-center;
    margin-top: 50px;
}

/*########code##########*/
/*#########experience#########*/
#experience {
    padding: 60px 0 60px;

}

.experience-box {
    width: 1110px;
    margin: auto;
    background: #dbd1c6;
    border-radius: 10px;

}

.experience-description {
    margin-top: 40px;
    text-align: center;
}

/*#########experience#########*/
/*#########education#########*/

#education {
    padding: 60px 0 60px;

}

.education-box {
    width: 1110px;
    margin: auto;
    background: #dbd1c6;
    border-radius: 10px;

}

.education-item {
    margin-top: 40px;
    text-align: center;
}

/*#########education#########*/
/*#########english#########*/
#english {
    padding: 60px 0 60px;

}

.english-box {
    width: 1110px;
    margin: auto;
    background: #dbd1c6;
    border-radius: 10px;

}

.english-item {
    margin-top: 40px;
    text-align: center;
}

/*#########english#########*/

